<h2 style="text-align: center;"><b>(****  Weather  ****)</b></h2>
<ul class="heroes" style="text-align: center;">
  <li *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)">
    {{hero.name}}
     
  </li>
</ul>







<div *ngIf="selectedHero">
    
  <h2>{{selectedHero.name | uppercase}} Details</h2>
  
  <!-- <div><span>id: </span>{{selectedHero.id}}</div> -->
  <div>
    
    <!-- <label>name:
      <input [(ngModel)]="selectedHero.name" placeholder="name"/>
    </label> -->
  </div>

</div>