<p>Weather Report !</p>

<!-- <div class = "show" *ngFor="let hero of heros"> 
<table>
    <tr>
        <th>Description</th>
        <th>Temperature</th>
        <th>Min Temp</th>
        <th>Max Temp</th>
        <th>Pressure</th>
        <th>Sea Level</th>
        <th>Ground Level</th>
        <th>Humidity</th>
    </tr>
    <tr >
        <td>{{weather.weather[0].description}}</td>
        <td>{{weather.main.temp}}</td>
        <td>{{weather.main.temp_min}}</td>
        <td>{{weather.main.temp_max}}</td>
        <td>{{weather.main.pressure}}</td>
        <td>{{weather.main.sea_level}}</td>
        <td>{{weather.main.grnd_level}}</td>
        <td>{{weather.main.humidity}}</td>
    </tr>
</table>
</div> -->
<!-- 
<pre><label> Id:</label><span>{{weather.dt}}</span>
    <label>Description: </label><span>{{weather.weather[0].description}}</span>
</pre></div> -->
    
<ul >
    <li *ngFor="let hero of heros">
    <div class ="ten" (click)="Clickme(hero)">
        <pre>
        <h2>{{hero.dt_txt | date:'EEEE, MMMM d, y'}}</h2>
        <label><b>Wind Speed:</b></label> {{hero.wind.speed}}
        <label><b>Wind Deg:</b></label> {{hero.wind.deg}}
        <label><b>Description:</b></label> {{hero.weather[0].description}}  
        <label><b>Clouds:</b></label> {{hero.clouds.all}}

        <!-- <label>Pressure:</label> {{hero.main.pressure}}   -->
         <!-- {{hero.main.grnd_level}}  
         {{hero.main.humidity}}   -->
        </pre>
    </div>
    </li>
</ul>

<!-- <div *ngFor="let hero of heros">
    <h3>{{hero.wind.speed}}</h3>
</div> -->
    