.ten
{
    /* background-color: rgba(255, 255, 255, 0.808);
    border-style: solid; */
    text-align: center;
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: rgb(239, 241, 241);
    
    /* width: 200px; */
    
}
.ten:hover
{
    background-color: rgb(201, 198, 198);
}