<ul >
    <li>
    <div class ="roam">
        <pre>
        <h2>{{heros.dt_txt | date:'EEEE, MMMM d, y'}}</h2>
        <label>Temperature:</label> {{heros.main.temp}}
        <label>Min Temp.:</label>{{heros.main.temp_min}}
        <label>Max Temp.:</label>{{heros.main.temp_max}}  
        <!-- <label>Description:</label> {{hero.weather[0].description}}   -->
        <label>Pressure:</label> {{heros.main.pressure}}  
        <!-- <label>Clouds:</label> {{hero.clouds.all}}   -->
        <label>Sea Level:</label> {{heros.main.sea_level}} 
        <label>Ground Level:</label> {{heros.main.grnd_level}}
        <label>Humidity:</label> {{heros.main.humidity}}
    </pre>
    </div>
    </li>
</ul>
