



<!-- <h1>Angular Router</h1> -->
<!-- <nav>
  <a routerLink="/list" routerLinkActive="active">H</a>
  <a routerLink="/details" routerLinkActive="active">Hero</a>
</nav> -->
<!-- <router-outlet></router-outlet> -->


<span>
    <div>
      <br>
      <h1 style="text-align: center;">{{title}}</h1>
      <router-outlet></router-outlet>
    </div>
    </span>